@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', 'Quicksand', sans-serif;
}

.container {
  max-width: 1264px;
}
.nav_link {
  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 18px;
}
.nav_links {
  font-family: 'Quicksand';
  font-weight: 600;
  font-size: 20px;
}
.home_first_text {
  font-family: 'Nunito';
  font-weight: 800;
  line-height: 87px;
  letter-spacing: 0.01em;
  color: #1D1D1D;
}

.home_second_text {
  margin-top: 3rem;
  font-family: 'Nunito';
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #464646;
  opacity: 0.6;
}

.about_text{
  font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
letter-spacing: 0.01em;
color: #464646;

}

.icon_text{
font-family: 'Quicksand';
font-weight: 700;
font-size: 24px;
line-height: 34px;
text-align: center;
letter-spacing: 0.01em;
color: #1D1D1D;
}

.service_text{
font-family: 'Nunito';
font-weight: 700;
font-size: 55px;
line-height: 130%;
letter-spacing: 0.003em;
color: #1D1D1D;
}


.icon_card{
  width: 310px;
  padding: 5%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}


/* about */
.main_about{
  display: flex;
  align-items: center;
}



.images {
  transition: transform 0.2s ease-in-out;
}
.images:hover {
  transform: rotate(4deg);
}


.dots_img {
  animation: rotation 60s infinite linear;

}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


.blue_dots_image{
  position: relative;
  left: 15rem;
  top: 2rem;
  transform: rotate(346deg);
  z-index: -1;
}


.blue_dots {
  animation: mover 3s infinite  alternate;
}

@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

.child{
  animation:all 1s;
}
.child:hover{
  transform: translateY(-10px) translateZ(0px);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 450px) {
.portfolio{
  flex-direction: column;
}
}





@media only screen and (min-width: 600px) {}



@media only screen and (max-width: 768px) {
  .links{
    display: none;
  }
  .main_about{
    flex-direction: column-reverse;
  }
  .our_service{
    flex-direction: column;
  }
}
